.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }
  
  .card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid #36730B;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    opacity: 1;
  }
  
  .card .card_para {
    padding-inline: 6px;
    opacity: 0.8;
  }
  
  .card_content {
    transform: translateY(20%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card_content {
    transform: translateY(0%);
  }
  
  
  /*  food card  */
  .food_card {
    width: 100%;
    height: 220px;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }
  
  .food_card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  
  
  .food_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .food_card:hover:before {
    opacity: 1;
  }
  
  .food_card .food_card_para {
    font-size: 16px;
    opacity: 0.8;
  }
  
  .food_card_content {
    transform: translateY(50%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .food_card:hover .food_card_content {
    transform: translateY(0%);
  }
  
  .spinnerContainer {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .waterDrop {
    width: 80px;
    height: 80px;
    background: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    border-radius: 50% 60% 90% 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
    animation: scaleDrop 1.5s ease-in-out infinite;
  }
  
  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    font-weight: bold;
    color: white;
    z-index: 2;
  }
  
  @keyframes scaleDrop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  


  /* From Uiverse.io by vinodjangid07 */ 
.Btn {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
