@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    transform-origin: 0%;
    z-index: 60;
  }
  